@gutter: 1%; 
@width: 100%; 


.grids (@num-of-cols) {
  @grid-size: (@width/12);
  @cols: ( @width / (@grid-size * @num-of-cols) );
  width: (@width - (@gutter * (@cols - 1) ) ) / @cols; 
}

.grid { 
  display: table;
  width: 100%; 
}

[class*='col-'] {
  float: left;
  margin: 0 @gutter @gutter 0; 
}

.last { margin-right: 0; }
