@pad: 1%;
@wrap: 100%;

.grids (@num-of-grids) {
  width: (@wrap - (@pad * (@num-of-grids - 1) ) ) / @num-of-grids; 
}

.grid { 
  display: table;
  width: 100%; 
}

[class*='col-'] {
  float: left;
  margin: 0 @pad @pad 0; 
  & img { 
    max-width: 100%;
    height: auto;
  }
}

.last { margin-right: 0; }

.col-2 { .grids(2); } 
.col-3 { .grids(3); }
.col-4 { .grids(4); }
.col-5 { .grids(5); } 
.col-6 { .grids(6); }
.col-8 { .grids(8); }
.col-12 { .grids(12); }
