.grid {
  display: table;
  max-width: 100%;
  margin: 1% 0;
}
[class*='col-'] {
  float: left;
  margin: 1% 1% 0 0;
}
.last {
  margin-right: 0;
}
.col-2 {
  width: 49.5%;
}
.col-4 {
  width: 24.25%;
}
.col-8 {
  width: 11.625%;
}
.col-3 {
  width: 32.666666666666664%;
}
